.Image {
  /* max-height: 150px; */
  display: block;
  float: left;
  width: 250px;
  border: 2px solid white;
}

.Skills {
  max-height: 150px;
  display: inline-block;
}

.Skills ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.Skills ul li {
  padding-right: 50px;
}

.Item {
  min-height: 250px;
}
