.Post {
  width: 75%;
  margin: 25px 25px 25px 25px;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  color: green;
  background-color: black;
}

.Title {
}
