header {
  top: 5vh;
  right: 2%;
  width: 10%;
  position: fixed;
}

.Main {
  width: 75%;
  margin-left: 5%;
  padding-left: 5%;
  margin-top: 5vh;
  background-color: black;
  border: 2px dashed white;
  color: white;
  min-height: 90vh;
}
