header {
  background-color: #1d113b;
  top: 10%;
  right: 10%;
  width: 100px;
  position: fixed;
}

.Main {
  width: 80%;
  padding: 5vw 5vw 5vw 5vw;
  margin: 0px auto;
  margin-top: 5vh;
  background-color: black;
  border: 2px solid white;
  color: white;
  min-height: 70vh;
}
